<div class="flex flex-col items-center justify-center w-full">
    <div class="m-2 flex flex-row flex-wrap gap-3 items-top justify-center">
        <form [formGroup]="searchTitleForm">
            <mat-form-field appearance="fill" class="w-70 flex flex-row">
                <mat-label>Filter By Title</mat-label>
                    <input (keydown.enter)="filterByTitle()" matInput placeholder="Press Enter To Filter" formControlName="searchTitle" />
                    @if(searchTitleForm.get('searchTitle')?.value) {
                        <mat-icon (click)="clearFilterByTitle()" matTextSuffix>close</mat-icon>
                    }
                    <mat-icon matSuffix (click)="filterByTitle()">filter_alt</mat-icon>
                </mat-form-field>
        </form>
        <button matButton="elevated" (click)="getPosts()">
            <mat-icon>search</mat-icon>
            Get All Posts
        </button>
        <button matButton="elevated" (click)="openDialog()">
            <mat-icon>add</mat-icon>
            Create Post

        </button>
    </div>

    <div class="m-2 w-full max-w-5xl justify-center flex flex-col items-center">
        @if (this.posts().length) {
            @for (post of this.paginatedPosts(); track $index) {
            <mat-card class="blog-post-card" id="post-{{post.id}}">
                <mat-card-header>
                    <mat-card-title>{{post.title}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="truncated-content" id="cart-content-{{post.id}}">{{post.content}}</p>
                </mat-card-content>
                <mat-card-actions class="flex flex-row gap-1 flex-wrap sm:justify-end justify-center">
                    <button matButton (click)="toggleContent(post.id)">
                        {{ isContentExpanded(post.id) ? 'Show Less' : 'Show More' }}
                    </button>
                    <button matButton="elevated" (click)="editPost(post)">
                        <mat-icon>edit</mat-icon>
                        Edit
                    </button>
                    <button matButton="tonal" class="delete-button" (click)="deletePost(post.id)">
                        <mat-icon>delete</mat-icon>
                        Delete
                    </button>
                </mat-card-actions>
            </mat-card>
            }
            <mat-paginator
                (page)="handlePageEvent($event)"
                [length]="posts().length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                [pageIndex]="pageIndex"
                aria-label="Select page">
            </mat-paginator>
        } @else {
            <p class="flex justify-center">It seems a bit empty in here...</p>
        }

    </div>
</div>